.footer {
  --height: 668px;

  display: grid;
  place-items: center;
  grid-column: main;

  min-height: var(--height);

  .footer_hero-headline {
    grid-column: main;
  }
}

@media (width >= 768px) {
  .footer {
    --height: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    --height: 768px;
  }
}
