.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: var(--header-footer-min-height);
  padding-block-start: var(--gutter);

  background: no-repeat bottom / cover;
  background-image: url('/assets/images/hero/hero-bg-dark.webp');
  background-image: image-set(
    url('/assets/images/hero/hero-bg-dark.avif') type('image/avif'),
    url('/assets/images/hero/hero-bg-dark.webp') type('image/webp'),
    url('/assets/images/hero/hero-bg-dark.jpeg') type('image/jpeg')
  );

  > .theme-controls {
    place-self: center end;
  }

  > h1 {
    place-self: center start;
  }

  > p {
    place-self: center;
  }

  > * {
    grid-column: main;
  }

  @media (width > 568px) {
    > p {
      place-self: center end;
      grid-column: 8 / span 6;
    }
  }

  @media (width > 768px) {
    > .theme-controls {
      place-self: start center;
    }
  }
}

html[data-theme='light'] {
  .header {
    background-image: url('/assets/images/hero/hero-bg-light.webp');
    background-image: image-set(
      url('/assets/images/hero/hero-bg-light.avif') type('image/avif'),
      url('/assets/images/hero/hero-bg-light.webp') type('image/webp'),
      url('/assets/images/hero/hero-bg-light.jpeg') type('image/jpeg')
    );
  }
}
