.header {
  background: no-repeat bottom / cover;
  background-image: url('/assets/images/hero/hero-bg-dark-l.webp');
  background-image: image-set(
    url('/assets/images/hero/hero-bg-dark-m.avif') type('image/avif'),
    url('/assets/images/hero/hero-bg-dark-m.webp') type('image/webp'),
    url('/assets/images/hero/hero-bg-dark-m.jpeg') type('image/jpeg')
  );

  min-height: 400px;
}

@media (width > 600px) {
  .header {
    background-image: image-set(
      url('/assets/images/hero/hero-bg-dark-l.avif') type('image/avif'),
      url('/assets/images/hero/hero-bg-dark-l.webp') type('image/webp'),
      url('/assets/images/hero/hero-bg-dark-l.jpeg') type('image/jpeg')
    );
  }
}
