.section-img-grid {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: main;

  .image-grid__title {
    grid-column: main;
  }
}

.image-grid {
  display: grid;
  grid-auto-flow: column;
  row-gap: 10px;

  grid-column: main;

  img {
    object-fit: cover;
    height: 100%;
  }

  picture:nth-of-type(1) {
    grid-column: main-1 / main-2;
  }

  picture:nth-of-type(2) {
    grid-column: main-3;
    grid-row: span 2;
  }

  picture:nth-of-type(3) {
    grid-column: main-1;
    grid-row: span 2;
  }

  picture:nth-of-type(4) {
    grid-column: main-2;
  }

  picture:nth-of-type(5) {
    grid-column: main-2 / main-3;
  }
}

@media (width >= 768px) {
  .image-grid {
    row-gap: 20px;

    grid-template-columns: subgrid;
    grid-template-rows: 260fr 315fr 428fr;

    picture:nth-of-type(1) {
      grid-column: main-1 / main-2;
    }

    picture:nth-of-type(2) {
      grid-column: main-3;
      grid-row: span 2;
    }

    picture:nth-of-type(3) {
      grid-column: main-1;
      grid-row: span 2;
    }

    picture:nth-of-type(4) {
      grid-column: main-2;
    }

    picture:nth-of-type(5) {
      grid-column: main-2 / main-3;
    }
  }
}
