.text-section {
  --gap: 20px;

  display: grid;
  row-gap: var(--gap);

  .text-section__title {
    grid-column: main;
  }

  .text-section__subtitle {
    height: fit-content;
    grid-column: main;
    margin-block-end: 20px;
  }
}

.text-section:not(:last-of-type) {
  margin-block-end: 50px;
}

.text-section:first-of-type {
  margin-block-start: 40px;
}

@media (width >= 768px) {
  .text-section {
    .text-section__title {
      grid-column: main-1;
    }

    .text-section__subtitle {
      grid-column: main-2 / main-3;
    }

    .article {
      grid-column: main-2 / main-3;
    }
  }

  .text-section_type_alternative {
    .article {
      grid-column: main;
    }
  }
}

@media (width >= 1024px) {
  .text-section_type_alternative {
    .article:nth-of-type(1) {
      grid-column: main-1;
    }
    .article:nth-of-type(2) {
      grid-column: main-2;
    }
    .article:nth-of-type(3) {
      grid-column: main-3;
    }
  }
}
