.body {
  --column-count: 12;
  --content-max-width: 984px;
  --grid-col-max-width: calc(var(--content-max-width) / var(--column-count));

  display: grid;
  grid-template-columns:
    [fullbleed-start]
    minmax(var(--gutter), 1fr)
    [main-start]
    repeat(var(--column-count), minmax(0, var(--grid-col-max-width)))
    [main-end]
    minmax(var(--gutter), 1fr)
    [fullbleed-end];
}

.body > * {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: fullbleed;
}

.content {
  margin-block: 40px;
  display: grid;
  row-gap: 50px;
}

@media (width >= 768px) {
  .content {
    row-gap: 80px;
    margin-block: 50px;
  }
}

.full-width {
  grid-column: fullbleed;
}

.main-width {
  grid-column: main;
}

.sub-grid {
  display: grid;
  grid-template-columns: subgrid;
}
