:root {
  --_clr-neutral-900: #353430;
  --_clr-blue-900: #000028;
  --_clr-red-400: #ff0070;
  --_clr-red-200: #ff8fcd;
  --_clr-red-200: #ffc2e5;
  --_clr-red-100: #f1b1ce;
  --_clr-red-50: #fff1f7;
  --_clr-purple-400: #db00ff;
  --_clr-purple-100: #ffc2e6;

  --clr-neutral-900: #353430;
  --clr-brand-blue-900: #000028;
  --clr-accent-400: #ff0070;
  --clr-accent-200: #ff8fcd;
  --clr-accent-200: #ffc2e5;
  --clr-accent-100: #f1b1ce;
  --clr-accent-50: #fff1f7;
  --clr-accent-b-400: #db00ff;
  --clr-accent-b-100: #ffc2e6;

  --clr-bg: var(--clr-brand-blue-900);
  --clr-paragraph: var(--clr-accent-100);
  --clr-headline: var(--clr-accent-400);
  --clr-title: var(--clr-accent-400);
  --clr-title-accent: var(--clr-brand-blue-900);
  --clr-title-accent-bg: var(--clr-accent-400);
  --clr-hero-headline: var(--clr-accent-b-400);
  --clr-hero-headline-shadow: var(--clr-accent-400);
  --clr-accent-bg: var(--clr-accent-400);

  color-scheme: light dark;
  color: var(--clr-paragraph);
  background-color: var(--clr-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --gutter: 0.625rem;
}

body {
  min-height: 100vh;
  font-family: IBM Plex Mono, monospace;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}

@media (width > 568px) {
  :root {
    --gutter: 1.25rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg: var(--clr-accent-50);
    --clr-paragraph: var(--clr-neutral-900);
    --clr-headline: var(--clr-neutral-900);
    --clr-title: var(--clr-neutral-900);
    --clr-title-bg: var(--clr-accent-200);
    --clr-hero-headline: var(--clr-accent-b-100);
    --clr-hero-headline-shadow: var(--clr-accent-200);
    --clr-accent-bg: var(--clr-accent-200);
  }
}

[data-theme='light'] {
  --clr-bg: var(--clr-accent-50);
  --clr-paragraph: var(--clr-neutral-900);
  --clr-headline: var(--clr-neutral-900);
  --clr-title: var(--clr-neutral-900);
  --clr-title-bg: var(--clr-accent-200);
  --clr-hero-headline: var(--clr-accent-b-100);
  --clr-hero-headline-shadow: var(--clr-accent-200);
  --clr-accent-bg: var(--clr-accent-200);
}

[data-theme='dark'] {
  --clr-bg: var(--clr-brand-blue-900);
  --clr-paragraph: var(--clr-accent-100);
  --clr-headline: var(--clr-accent-400);
  --clr-title: var(--clr-accent-400);
  --clr-title-accent: var(--clr-brand-blue-900);
  --clr-title-accent-bg: var(--clr-accent-400);
  --clr-hero-headline: var(--clr-accent-b-400);
  --clr-hero-headline-shadow: var(--clr-accent-400);
  --clr-accent-bg: var(--clr-accent-400);
}
